@tailwind base;
@tailwind components;
@tailwind utilities;

.modal-style .ant-modal-content {
  background-color: #3a1f5c;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

::-ms-scrollbar {
  width: 0;
  height: 0;
}
