@tailwind base;
@tailwind components;
@tailwind utilities;

.modal-style .ant-modal-content {
  background-color: #3a1f5c;
}

body {
  -ms-overflow-style: none !important;
  scrollbar-width: 0 !important;
}
body::-webkit-scrollbar {
  display: none !important;
}
